:root {
    --background: #dfdfe6;
    --text-color: #020202;
    --accent: #2a0abc;
    --headings: Grotesk;
}

@font-face {
    font-family: Grotesk;
    src: url('/src/fonts/VarentGrotesk-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(233, 233, 233);
    color: var(--text-color);
}

h1,
h2 {
    font-family: var(--headings);
    color: var(--accent);
}

a {
    text-decoration: inherit;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    & h1 {
        font-size: 5rem;
    }
}

.intro {
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;

    & .button{
        flex-flow: row-reverse;
    }

    & article{
        display: flex;
        flex-flow: column;
        gap: 1.5rem;

    }
}


.button{
    display: flex;
    padding-right: 1.5rem;

    & a{
        background: var(--accent);
        padding: 0.5rem 1rem;
        color: var(--background);
        border-radius: 1.5rem;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
